* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    background-color: #1a1a1a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar-title h1 {
    font-size: 2rem;
    color: #ffcc00;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: #ffcc00;
    color: #121212;
    border-radius: 5px;
}

.container {
    max-width: 900px;
    margin-top: 40px;
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    padding: 30px;
    gap: 30px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    margin: 0 auto; 
}

.profile:hover {
    transform: translateY(-10px);
}

.owner-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.owner-image:hover {
    transform: scale(0.9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.description {
    flex: 1;
    color: #ddd;
}

h1 {
    font-size: 2.5rem;
    color: #ffcc00;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.title {
    font-size: 1.3rem;
    color: #ccc;
    font-weight: 400;
    margin-bottom: 20px;
}

.bio {
    font-size: 1.1rem;
    color: #ddd;
    line-height: 1.6;
    text-align: justify;
}

.contact-section {
    position: fixed;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: black;
    padding: 30px;
    width: 300px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin-top: 20px; 
}

.contact-section:hover {
    transform: translateX(10px);
}

.contact-section h2 {
    font-size: 24px;
    color: #ffcc00;
    margin-bottom: 15px;
}

.contact-section address {
    color: whitesmoke;
    font-style: normal;
    margin-bottom: 20px;
}

.contact-section a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.contact-section a:hover {
    text-decoration: underline;
    color: #fff;
}


